
// variavle Font Family

$font_creepster: 'Creepster', cursive;
$font_kaushan_script: 'Kaushan Script', cursive;
$font_lato: 'Lato', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_pacifico: 'Pacifico', cursive;
$font_parisienne: 'Parisienne', cursive;
$font_poppins: 'Poppins', sans-serif;
$font_pt_sans: 'PT Sans', sans-serif;
$font_raleway: 'Raleway', sans-serif;
$font_roboto: 'Roboto', sans-serif;
$font_roboto_condensed: 'Roboto Condensed', sans-serif;
$font_sigma_one: 'Sigmar One', cursive;
$font_yellowtail: 'Yellowtail', cursive;

// variable font size

// $fz_banner_text: px;
// $fz_heading_text: px;
// $fz_paragraph_text: px;
// $fz_: px;

$color_blue: #E6F6FE;
$color_blue_light: #D3F0FF;
$color_blue_dark: #1790D1;

$color_red: #FFEBEB;
$color_red_dark: #FD8585;
$color_red_light: #FD6E6E;

$color_lime: #FFE3E3;
$color_lime_dark: #F59595;
$color_lime_light: #FF6E6E;
 
$color_orange: #FEF0E6;
$color_orange_dark: #B49279;

$color_green: #CFF7D2;
$color_green_dark: #5CA062;

$color_orange: #FEF0E6;
$color_orange_dark: #B49279;

$color_pink: #F6D8FF;
$color_pink_dark: #A874B5;
$color_pink_light: #BA9BFF;

$color_cyan: #C7F0EA;
$color_cyan_dark: #5FA399;
$color_cyan_light: #4FC5E8;

$color_black: #000000;
$color_ash: #A6B1C4;
$color_ash_dark: #7A879D;
$color_white_dark: #F4F4F4;
$color_white: #FFFFFF;
$color_white_light: #EDEDED;

$color_gray_light: #ADADAD;
$color_gray_dark: #747474;
$color_gray: #989898;
$color_leef_green: #17C14F;

$c_yellow: #FDAA67;
$c_creem: #B95067;
$c_creem: #AFB39A;


$c_shadow: #EBEBEB;


